{% extends "layout.html" %}
{% block content %}

    <div class="mt-3">
            <h1 class="lead display-6 border-bottom">Checkout</h1>
        <div class="">
            <table class="table">
                <thead class="table-light">
                <tr>
                    <td>#</td>
                    <td>Book Name</td>
                    <td>Author</td>
                    <td>ISBN 13</td>
                    <td>Price</td>
                     <td>Action</td>
                </tr>
                </thead>
                <tbody>
                {% for item in checkouts %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ item.book.title }}</td>
                        <td>{{ item.book.author }}</td>
                        <td>{{ item.book.primary_isbn13 }}</td>
                        <td>{{ item.book.price }}</td>
                        <td><a class="btn btn-outline-danger" href="/checkout/remove_book/{{ item.id }}">Delete</a></td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="4">Total</td>
                    <td >{{ total }}</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}
{% block page_js %}
{#    <script type="text/javascript">#}
{#        $(".delete").on("click", function (event){#}
{#            const checkout_id = $(this).data("checkoutId");#}
{#             $.ajax({#}
{#                type: "POST",#}
{#                url: "/checkout/remove_book/"+checkout_id,#}
{#                data: {},#}
{#                success: function (data) {#}
{#                    #}
{#                },#}
{#            })#}
{#        })#}
{#    </script>#}
{% endblock %}

