<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
          integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <title>Congo: Bookstore</title>
    <style>

    </style>
</head>
<body>
{% if current_user.is_authenticated %}
    {% include "nav.html" %}
{% endif %}

<div class="container-fluid">
    <div>
        {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %}
            <div class="row">
                <div class="col-md-12">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            <a class="close" title="Close" href="#" data-dismiss="alert"
                            >&times;</a
                            >
                            {{ message }}
                        </div>
                        <!-- end .alert -->
                    {% endfor %}
                </div>
                <!-- end col-md -->
            </div>
            <!-- end row -->
        {% endif %} {% endwith %}
    </div>
    {% block content %}
    {% endblock %}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script type="text/javascript">
    var csrf_token = "{{ csrf_token() }}";

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
    });
</script>

{% block page_js %}
    <script>
        let current_user_id = null;
        let cart_id = null;

        function get_or_create_cart() {
            $.ajax({
                type: "POST",
                url: "/cart/get_create",
                data: {},
                success: function (data) {
                    console.log(data)
                    cart_id = data["data"]["id"]
                },
            })

            $.ajax({
                type: "POST",
                url: "/users/current_user",
                data: {},
                success: function (data) {
                    console.log(data)
                    current_user_id = data["data"]["id"]
                },
            })
        }
        get_or_create_cart();
        const add_cart_items = $('#cart-items');

        $(".add-cart").on("click", function () {
            const total_items = parseInt(add_cart_items.text());
            add_cart_items.text(total_items + 1)
            const book_id = $(this).data("bookId");
            $.ajax({
                type: "POST",
                url: "/checkout/add_book/"+book_id,
                data: {},
                success: function (data) {
                    cart_id = data["data"]["id"]
                },
            })
        })

    </script>
{% endblock %}
</body>
</html>