{% extends "layout.html" %}
{% block content %}
    <div class="d-flex align-items-center justify-content-center" style="height: 500px">

            <div class="card shadow my-auto">
                <div class="card-body p-5">
                    <h4 class="card-title mb-3">Login</h4>
                    <form id="loginForm" class="mb-5 form" method="POST" action="" role="form">
                        {{ form.csrf_token }}
                        <div class="form-floating mb-3">
                            {{form.username(placeholder="name@example.com", class_="form-control")}}
                            {{form.username.label}}
                        </div>
                        <div class="form-floating mb-3">
                            {{form.password(placeholder="Password", class_="form-control")}}
                            {{form.password.label}}
                        </div>
                        <input type="submit" class="btn btn-outline-primary" value="Login" name="submit"/>
                    </form>
                </div>
            </div>
    </div>
{% endblock %}