<nav class="navbar navbar-expand-lg navbar-light bg-light shadow" style="height: 75px">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('user.home') }}">Congo</a>

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {#            <li class="nav-item">#}
            {#                <a class="nav-link" href={{ url_for('user.home') }}>Logged in View</a>#}
            {#            </li>#}
        </ul>

        <form class="d-flex" method="get">
            <input class="form-control me-2" type="search" placeholder="Search Title or Description Keyword" aria-label="Search" name="query_string" style="width: 350px">
            <button class="btn btn-outline-info" type="submit">Go</button>
        </form>
    {% if not current_user.is_admin %}
        <a class="btn btn-outline-success position-relative m-3" href={{ url_for('checkout.home') }}><i
                class="fas fa-shopping-cart"></i>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                  id="cart-items">{{ checkouts|length }}</span>
        </a>
    {% endif %}
        {% if current_user.is_authenticated %}
            <a type="button" class="btn btn-outline-success position-relative " href={{ url_for('public.logout') }}>Logout</a>
        {% endif %}
    </div>
</nav>