<nav class="navbar navbar-expand-lg navbar-light bg-light shadow" style="height: 75px">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Congo</a>

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users">Logged in View</a>
            </li>
        </ul>

        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        </form>
        <button type="button" class="btn btn-outline-success"><i class="fas fa-shopping-cart"></i></button>
    </div>
</nav>